=myg-grid--classes
    /* Flexbox */

    .flex
        display: flex
        &.reverse
            flex-direction: row-reverse
        &.column
            flex-direction: column
            &.reverse
                flex-direction: column-reverse

        // Container
        &.container--center
            +flex-container--center
        &.container--start
            +flex-container--start
        &.container--end
            +flex-container--end
        &.container--space-between
            +flex-container--space-between
        &.container--space-around
            +flex-container--space-around
        &.container--space-evenly
            +flex-container--space-evenly
        &.wrap
            +flex--wrap

        // Items
        &.center
            +flex--center
        &.center--m
            +flex--center-m
        &.center--c
            +flex--center-c
        &.start
            +flex--start
        &.start--m
            +flex--start-m
        &.start--c
            +flex--start-c
        &.end
            +flex--end
        &.end--m
            +flex--end-m
        &.end--c
            +flex--end-c
        &.space-between
            +flex--space-between
        &.space-around
            +flex--space-around
        &.space-evenly
            +flex--space-evenly
        &.baseline
            +flex--baseline
        &.column
            &.center--m
                +flex--center-c
            &.center--c
                +flex--center-m
            &.start--m
                +flex--start-c
            &.start--c
                +flex--start-m
            &.end--m
                +flex--end-c
            &.end--c
                +flex--end-m

        // Self
        & > .self--center
            +flex-self--center
        & > .self--start
            +flex-self--start
        & > .self--end
            +flex-self--end



    /* Grid */

    .grid
        display: grid

        // Container
        &.container--center
            +grid-container--center
        &.container--center-m
            +grid-container--center-m
        &.container--center-c
            +grid-container--center-c
        &.container--start
            +grid-container--start
        &.container--start-m
            +grid-container--start-m
        &.container--start-c
            +grid-container--start-c
        &.container--end
            +grid-container--end
        &.container--end-m
            +grid-container--end-m
        &.container--end-c
            +grid-container--end-c
        &.container--space-between
            +grid-container--space-between
        &.container--space-between-m
            +grid-container--space-between-m
        &.container--space-between-c
            +grid-container--space-between-c
        &.container--space-around
            +grid-container--space-around
        &.container--space-around-m
            +grid-container--space-around-m
        &.container--space-around-c
            +grid-container--space-around-c
        &.container--space-evenly
            +grid-container--space-evenly
        &.container--space-evenly-m
            +grid-container--space-evenly-m
        &.container--space-evenly-c
            +grid-container--space-evenly-c

        // Items
        &.center
            +grid--center
        &.center--m
            +grid--center-m
        &.center--c
            +grid--center-c
        &.start
            +grid--start
        &.start--m
            +grid--start-m
        &.start--c
            +grid--start-c
        &.end
            +grid--end
        &.end--m
            +grid--end-m
        &.end--c
            +grid--end-c

        // Self
        & > .self--center
            +grid-self--center
        & > .self--center-m
            +grid-self--center-m
        & > .self--center-c
            +grid-self--center-c
        & > .self--start
            +grid-self--start
        & > .self--start-m
            +grid-self--start-m
        & > .self--start-c
            +grid-self--start-c
        & > .self--end
            +grid-self--end
        & > .self--end-m
            +grid-self--end-m
        & > .self--end-c
            +grid-self--end-c



    /* Myg Grid */

    .myg-grid
        +myg-grid
        @each $name, $value in $myg-grid--breakpoints
            +myg-grid-wrap($name)
