/* Flexbox */

=center
    display: flex
    align-items: center
    justify-content: center
=center--v
    display: flex
    justify-content: center
=center--h
    display: flex
    align-items: center
=center-self
    align-self: center
    justify-self: center
=center-self--v
    justify-self: center
=center-self--h
    align-self: center

=flex-start
    display: flex
    align-items: flex-start
    justify-content: flex-start
=flex-start--v
    display: flex
    justify-content: flex-start
=flex-start--h
    display: flex
    align-items: flex-start
=flex-start-self
    align-self: flex-start
    justify-self: flex-start
=flex-start-self--v
    justify-self: flex-start
=flex-start-self--h
    align-self: flex-start

=flex-end
    display: flex
    align-items: flex-end
    justify-content: flex-end
=flex-end--v
    display: flex
    justify-content: flex-end
=flex-end--h
    display: flex
    align-items: flex-end
=flex-end-self
    align-self: flex-end
    justify-self: flex-end
=flex-end-self--v
    justify-self: flex-end
=flex-end-self--h
    align-self: flex-end
