=myg-badge
    margin: myg__px(3)
    background: myg-theme__color(background, dark)
    border-radius: myg__px(5)
    font-size: myg__px(13)
    padding: myg__px(1) myg__px(8)
    word-wrap: normal
    color: myg-theme__color(text, base)
    &.success
        background: myg-theme__color(success)
        color: myg-theme__color(background, lighter)
    &.error
        background: myg-theme__color(error)
        color: myg-theme__color(background, lighter)


=myg-badge__container
    +myg-grid__flex
    +myg-grid__flex---center-y
    +myg-grid__flex---wrap
    margin: myg__px(-3)
