=myg-drawer
    &.mdc-drawer--temporary
        +scrollbar
        color: color(text, base)
        &::before
            background: color(overlay, light)
        nav.mdc-drawer__drawer
            max-width: px(350)
            width: 85%
            +myg-elevation(sm)
            background: color(background, base)
            header.mdc-drawer__header
                &::before
                    content: none
                border-bottom: px(1) solid color(border)
                .mdc-drawer__header-content
                    position: relative
                    padding: myg-spacing(md)
                    display: flex
                    flex-direction: column
                    align-items: flex-start
                    top: auto
                    bottom: auto
                    left: auto
                    right: auto
                    a:last-child
                        margin-top: px(20)
                    h4
                        margin: 0
                        margin-bottom: px(3)
            nav.mdc-drawer__content
                padding: px(15) 0
                display: flex
                flex-direction: column
                a
                    font-weight: normal
                    padding: px(20) px(35)
                    font-size: px(16)
                    color: inherit
                    text-decoration: none !important
                    background: color(background, base)
                    +transition
                    &:hover
                        color: color(accent, base)
                        background: color(background, lighter)
            nav.mdc-drawer__footer
                padding: myg-spacing(sm)
                border-top: px(1) solid color(border)
                display: flex
                align-items: center
                justify-content: space-between
                box-shadow: none
                border-top: px(1) solid color(border)
                a
                    font-weight: normal
                .link-wrapper
                    position: relative
                    top: px(-2)
