=myg-dropdown
    background: color(background, base)
    border: px(1) solid color(border)
    +border-radius(sm)
    +myg-elevation(sm)
    padding: myg-spacing(sm)
    margin-top: myg-spacing(tn)
    min-width: px(150)
    max-width: px(500)
    +hide
    +invisible
    +transition(opacity)
    &.show
        +show
        +visible
    p
        &:first-child
            margin-top: 0
        &:last-child
            margin-bottom: 0
    hr
        margin: 0
