=myg-dropdown
    background: myg-theme__color(background, base)
    border: myg__px(1) solid myg-theme__color(border)
    +myg-theme__border-radius(sm)
    +myg-elevation(sm)
    padding: myg-spacing(sm)
    margin-top: myg-spacing(tn)
    min-width: myg__px(150)
    max-width: myg__px(500)
    +myg--hide
    +myg--invisible
    +myg-animate__transition(opacity)
    & > p
        &:first-child
            margin-top: 0
        &:last-child
            margin-bottom: 0
    & > hr
        margin: 0

=myg-dropdown---shown
    +myg--show
    +myg--visible
