// Colors
=colors($colors)
    @each $name, $color in $colors
        @if type-of($color) == map
            @each $subname, $subcolor in $color
                --color-#{$name}-#{$subname}: $subcolor
        @else if type-of($color) == color
            --color-#{$name}: $color
=theme($colors, $name: "default")
    @if $name == "default"
        &, &.myg-theme--#{$name}
            +colors($colors)
    @else
        &.myg-theme--#{$name}
            +colors($colors)



// Border Radius
=border-radius($name)
    border-radius: map-get($border-radius, $name)


// Scrollbar
=scrollbar
    &::-webkit-scrollbar
        width: scrollbar(width)
    &::-webkit-scrollbar-track
        background: scrollbar(track-background)
    &::-webkit-scrollbar-thumb
        border-radius: scrollbar(thumb-border-radius)
        background: scrollbar(thumb-background)
    &::-webkit-scrollbar-thumb:hover
        background: scrollbar(thumb-hover-background)
