// main: ./../../src/myg.sass

// Border Radius
=border-radius($border-radius)
    border-radius: v(border-radius-#{$border-radius})


// Scrollbar
=scrollbar
    ::-webkit-scrollbar
        width: scrollbar(width)
    ::-webkit-scrollbar-track
        background: scrollbar(track-background)
    ::-webkit-scrollbar-thumb
        border-radius: scrollbar(thumb-border-radius)
        background: scrollbar(thumb-background)
    ::-webkit-scrollbar-thumb:hover
        background: scrollbar(thumb-hover-background)
