$scrollbar: (
    width: rpx(5),
    track-background: transparent,
    thumb-border-radius: rpx(2.5),
    thumb-background: color(border),
    thumb-hover-background: color(text, dark)
);

:root {
    @each $name, $scrollbar-attribute in $scrollbar {
        +v(scrollbar-#{$name}, $scrollbar-attribute)
    }
}

@function scrollbar($scrollbar-attribute) {
    @return v(scrollbar-#{$scrollbar-attribute})
}


=scrollbar {
    ::-webkit-scrollbar
        width: scrollbar(width)
    ::-webkit-scrollbar-track
        background: scrollbar(track-background)
    ::-webkit-scrollbar-thumb
        border-radius: scrollbar(thumb-border-radius)
        background: scrollbar(thumb-background)
    ::-webkit-scrollbar-thumb:hover
        background: scrollbar(thumb-hover-background)
}
