// main: ./../../src/myg.sass

// Colors
$theme: (
    accent: (
        light: #4063e8,
        base: #042ecb,
        dark: #052ab3,
        contrast: #ffffff
    ),
    text: (
        lighter: #bec7cf,
        light: #97a4b0,
        base: #657786,
        dark: #3d4553,
        darker: #14171A
    ),
    background: (
        lighter: #fcfcfc,
        light: #ffffff,
        base: #ffffff,
        dark: #ecf2f7,
        darker: #ebf5fe
    ),
    border: #dce2e7,
    box-shadow: rgba(#000, .05),
    error: #f6809a,
    success: #6adb83,
    overlay: transparentize(#e7eCf0, 0.13)
);


// Border Radius
$border-radius: (
    none: 0,
    sm: px(3),
    md: px(5),
    lg: px(10)
);


// Scrollbar
$scrollbar: (
    width: rpx(5),
    track-background: transparent,
    thumb-border-radius: rpx(2.5),
    thumb-background: color(border),
    thumb-hover-background: color(text, dark)
);
