=myg-button
    +myg-grid__flex--center
    +myg-theme__border-radius(sm)
    +myg-font(sans-serif)
    +myg-elevation(sm)
    background: myg-theme__color(accent, base)
    border: myg__px(1) solid myg-theme__color(accent, base)
    font-weight: 500
    font-size: myg__px(14)
    line-height: 1.58
    cursor: pointer
    text-decoration: none !important
    padding: myg__px(12) myg__px(20) myg__px(14)
    &, span
        color: myg-theme__color(accent, contrast)
        +transition
    &:hover, &:focus, &:active
        background: myg-theme__color(accent, dark)
        border-color: myg-theme__color(accent, dark)
        +myg-elevation(md)

=myg-button---error
    color: myg-theme__color(background, base)
    border-color: myg-theme__color(error)
    background: myg-theme__color(error)

=myg-button---success
    color: myg-theme__color(background, base)
    border-color: myg-theme__color(success)
    background: myg-theme__color(success)

=myg-button---dense
    padding: myg__px(8) myg__px(18) myg__px(10)

=myg-button---disabled
    opacity: .35
    cursor: not-allowed
    &:hover
        +myg-animate__animation(shake, map-get(map-get($myg-animate__animation, shake), duration),  map-get(map-get($myg-animate__animation, shake), easing))
    &:focus, &:active
        pointer-events: none

=myg-button--secondary
    background: myg-theme__color(background, light)
    border-color: myg-theme__color(border)
    &, span
        color: myg-theme__color(text, light)
    &:hover, &:focus, &:active
        background: myg-theme__color(background, light)
        border-color: myg-theme__color(accent, base)
        &, span
            color: myg-theme__color(accent, base)
=myg-button--secondary---error
    border-color: myg-theme__color(error)
    color: myg-theme__color(error)
    &:hover, &:focus, &:active
        background: myg-theme__color(error)
        &, span
            color: myg-theme__color(background, base)
=myg-button--secondary---success
    border-color: myg-theme__color(success)
    color: myg-theme__color(success)
    &:hover, &:focus, &:active
        background: myg-theme__color(success)
        &, span
            color: myg-theme__color(background, base)

=myg-button--light
    background: myg-theme__color(background, lighter)
    border-color: myg-theme__color(accent, base)
    &, span
        color: myg-theme__color(accent, base)
    &:hover, &:focus, &:active
        background: myg-theme__color(accent, base)
        &, span
            color: myg-theme__color(accent, contrast)

=myg-button--icon
    padding: myg__px(17) myg__px(16) myg__px(13)
=myg-button__icon
    position: relative
    top: myg__px(-2)
    margin-right: myg__px(30)
    width: myg__px(18)
    height: myg__px(18)
    font-size: myg__px(18)
    color: inherit
    opacity: 0
    visibility: hidden
    +myg-animate__transition(opacity)
=myg-button__icon---shown
    +myg--visible
=myg-button__caption
    width: 100%
    text-align: center

=myg-button--loader
    position: relative
=myg-button--loader---loading
    height: myg__px(50)
    padding-top: 0
    padding-bottom: 0
=myg-button__loader
    display: none
    position: absolute
    transition: initial
    top: myg__px(12)
    width: myg__px(24)
    height: myg__px(24)
    line
        stroke: white
        stroke-width: 1.5
=myg-button__loader---shown
    +myg--visible


=myg-button__container
    +myg-grid__flex--center-y
    +myg-grid__flex--wrap
    margin: myg__px(-10)
    & > *
        margin: myg__px(10)
