.myg-checkbox.mdc-checkbox
    +v(color-border, color(border, null, true))
    +v(mdc-theme-secondary, color(accent, base))
    &::before, &::after
        background: rgba(color(accent, base, true), .35)
    .mdc-checkbox__native-control:enabled:checked, .mdc-checkbox__native-control:enabled:indeterminate
        & ~ .mdc-checkbox__background
            background: color(accent, base) !important
            border-color: color(accent, base) !important
    .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate)
        & ~ .mdc-checkbox__background
            background: transparent !important
            border-color: color(border, null, true) !important
