=myg-checkbox
  &.mdc-checkbox
    margin: myg-spacing(-2)
    &::before
      background-color: myg-theme__color(accent, base) !important
    .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate) ~ .mdc-checkbox__background
      border-color: myg-theme__color(border) !important
    .mdc-checkbox__native-control:enabled:checked:not(:indeterminate) ~ .mdc-checkbox__background
      border-color: myg-theme__color(accent, base) !important
      background-color: myg-theme__color(accent, base) !important
    .mdc-checkbox__background svg path
      stroke-width: 3
