@import "myg-base/base"
@import "myg-theme/theme"

$mdc-theme-primary: color(accent, base, true)
$mdc-theme-secondary: color(border, null, true)
$mdc-theme-background: color(background, base, true)
@import "@material/checkbox/mdc-checkbox"

@import "_mixins"
@import "_classes"
