=myg-toast
    &.mdc-snackbar
        z-index: 2
        background: myg-theme__color(background, lighter)
        border-top: myg__px(1) solid myg-theme__color(border)
        padding: myg__px(10) myg-spacing(sm)
        +myg-grid__bigger-than(phone)
            padding: 0 myg-spacing(sm)
            border: myg__px(1) solid myg-theme__color(border)
            +myg-theme__border-radius(sm)
        .mdc-snackbar__text
            color: myg-theme__color(text, base)
            +myg-font(sans-serif)
            letter-spacing: normal
            font-size: myg__px(14)
            line-height: 1.75
        &.error
            background: myg-theme__color(error)
            border-color: myg-theme__color(error)
            color: myg-theme__color(text, dark)
            .mdc-snackbar__text
                color: myg-theme__color(background, base)
        &.success
            background: myg-theme__color(success)
            border-color: myg-theme__color(success)
            color: myg-theme__color(text, dark)
            .mdc-snackbar__text
                color: myg-theme__color(background, base)
