=myg-toast
    &.mdc-snackbar
        z-index: 2
        background: color(background, lighter)
        border-top: px(1) solid color(border)
        padding: px(10) myg-spacing(sm)
        +bigger-than(phone)
            padding: 0 myg-spacing(sm)
            border: px(1) solid color(border)
            +border-radius(sm)
        .mdc-snackbar__text
            color: color(text, base)
            +font(sans-serif)
            letter-spacing: normal
            font-size: px(14)
            line-height: 1.75
        &.error
            background: color(error)
            border-color: color(error)
            color: color(text, dark)
            .mdc-snackbar__text
                color: color(background, base)
        &.success
            background: color(success)
            border-color: color(success)
            color: color(text, dark)
            .mdc-snackbar__text
                color: color(background, base)
