=myg-titlebar
    &.welcomer
        position: fixed
        background: myg-theme__color(background, darker)
        +myg-animate__transition(all)
        & ~ header, & ~ .myg-sidebar, & ~ .myg-content
            margin-top: 0
            +myg-animate__transition(margin)
        &.welcomer--shown
            & ~ header, & ~ .myg-sidebar, & ~ .myg-content
                margin-top: myg__px(50)
        &.error
            background: myg-theme__color(error)
        &.success
            background: myg-theme__color(success)
        p
            text-transform: none
            font-weight: 500
            font-size: myg__px(14)
            letter-spacing: normal
            color: myg-theme__color(text, dark)
            opacity: 1
        a
            height: myg__px(27)
            padding: 0 myg__px(15)
            font-size: myg__px(10)
            color: myg-theme__color(accent, contrast)
            margin-left: myg__px(20)
            background: myg-theme__color(accent, base)
            border-radius: myg__px(13.5)
            +myg-animate__transition(all)
            &:hover
                background: myg-theme__color(accent, dark)
        .welcomer--close
            +myg-animate__transition(all)
            +myg__cursor(pointer)
            top: myg__px(15)
            right: myg__px(20)
            bottom: myg__px(15)
    +myg-grid__smaller-than(tablet)
        &.welcomer
            a
                height: auto
                padding: 0
                text-transform: none
                letter-spacing: normal
                color: myg-theme__color(accent, base)
                font-size: myg__px(12)
            p
                font-size: myg__px(12)
                letter-spacing: normal
