@import "myg-base/base"
@import "myg-theme/theme"
@import "myg-animate/animate"
@import "myg-grid/grid"

$welcomer--mobile: map-get($myg-grid--breakpoints, tablet)
@import "welcomer/src/welcomer"

@import "_mixins"
@import "_classes"

.myg-titlebar.welcomer
    & ~ header, & ~ .myg-sidebar, & ~ .myg-content
        margin-top: 0
        +transition(margin)
    &.welcomer--shown
        & ~ header, & ~ .myg-sidebar, & ~ .myg-content
            margin-top: px(50)
