=myg-action-button
    position: fixed
    bottom: myg-spacing(3)
    right: myg-spacing(3)
    +myg-theme__border-radius(round)
    width: map-get($myg-action-button, diameter)
    height: map-get($myg-action-button, diameter)
    background: myg-theme__color(accent, base)
