=myg-action-button
    position: fixed
    bottom: myg-spacing(sm)
    right: myg-spacing(sm)
    border-radius: 50%
    width: map-get($myg-action-button, diameter)
    height: map-get($myg-action-button, diameter)
    background: myg-theme__color(accent, base)
