$box-shadows: (
    sm: 0 .0625em .3125em 0 rgba(#000, .05),
    md: 0 .25em .9375em 0 rgba(#000, .05),
    lg: 0 .4375em 2.5em 0 rgba(#000, .05)
);

:root {
    @each $name, $box-shadow in $box-shadows {
        +v(box-shadow-#{$name}, $box-shadow)
    }
}

@function box-shadow($box-shadow-name) {
    @return v(box-shadow-#{$box-shadow-name})
}
