=myg-input__placeholder
    &::-webkit-input-placeholder
        color: myg-theme__color(text, dark) !important
        +myg-animate__transition(color)
    &:-moz-placeholder
        color: myg-theme__color(text, dark) !important
        +myg-animate__transition(color)
    &::-moz-placeholder
        color: myg-theme__color(text, dark) !important
        +myg-animate__transition(color)
    &:-ms-input-placeholder
        color: myg-theme__color(text, dark) !important
        +myg-animate__transition(color)
    &:active, &:focus
        &::-webkit-input-placeholder
            color: myg-theme__color(text, base) !important
        &:-moz-placeholder
            color: myg-theme__color(text, base) !important
        &::-moz-placeholder
            color: myg-theme__color(text, base) !important
        &:-ms-input-placeholder
            color: myg-theme__color(text, base) !important


=myg-input---error
    border-color: myg-theme__color(error)
    &:active, &:focus
        box-shadow: 0 0 0 myg__px(3.5) rgba(myg-theme__color(error, null, true), .35)

=myg-input---success
    border-color: myg-theme__color(success)
    &:active, &:focus
        box-shadow: 0 0 0 myg__px(3.5) rgba(myg-theme__color(success, null, true), .35)

=myg-input---disabled
    color: myg-theme__color(text, lighter)
    &::-webkit-input-placeholder
        color: myg-theme__color(text, lighter) !important
    &:-moz-placeholder
        color: myg-theme__color(text, lighter) !important
    &::-moz-placeholder
        color: myg-theme__color(text, lighter) !important
    &:-ms-input-placeholder
        color: myg-theme__color(text, lighter) !important

=myg-input---no-outline
    box-shadow: none !important


=myg-input__input
    +myg-font(sans-serif)
    +myg-theme__border-radius(sm)
    font-size: myg__px(15)
    line-height: 1.58
    color: myg-theme__color(text, darker)
    background: myg-theme__color(background, light)
    border: myg__px(1) solid myg-theme__color(border)
    padding: myg__px(12) myg__px(16) myg__px(13)
    width: 100%
    +myg-input__placeholder
    +myg-animate__transition
    &:active, &:focus
        border-color: myg-theme__color(accent, base)
        box-shadow: 0 0 0 myg__px(3.5) rgba(myg-theme__color(accent, base, true), .35)


=myg-input__textarea
    +myg-font(sans-serif)
    +myg-theme__border-radius(sm)
    font-size: myg__px(15)
    line-height: 1.75
    color: myg-theme__color(text, dark)
    background: myg-theme__color(background, lighter)
    border: myg_px(1) solid myg-theme__color(border)
    width: 100%
    max-width: 100%
    min-width: 100%
    padding: myg__px(12) myg__px(16) myg__px(13)
    min-height: myg__px(125)
    +myg-input__placeholder
    +myg-animate__transition
    &:active, &:focus
        border-color: myg-theme__color(accent, base)
        box-shadow: 0 0 0 myg__px(3.5) rgba(myg-theme__color(accent, base, true), .35)
