// Cursor
@each $name, $value in $cursors
    .cursor--#{$name}
        cursor: #{value}


// Scrolling
.scrollable
    overflow-y: auto
.not-scrollable
    overflow-y: hidden


// Selecting
.selectable
    user-select: auto
.selectable--auto:focus
    user-select: all
.not-selectable
    user-select: none


// Transform
.flip--m
    -moz-transform: scaleX(-1)
    -o-transform: scaleX(-1)
    -webkit-transform: scaleX(-1)
    transform: scaleX(-1)
    filter: FlipH
    -ms-filter: "FlipH"
.flip--c
    -moz-transform: scale(1, -1)
    -webkit-transform: scale(1, -1)
    -o-transform: scale(1, -1)
    -ms-transform: scale(1, -1)
    transform: scale(1, -1)
    filter: FlipV
    -ms-filter: "FlipV"


// Visibility
.display
    display: block !important
.not--display, .hidden
    display: none !important
.show
    display: block
.not-show, .hide
    display: none
.visible
    visibility: visible
    opacity: 1
.not-visible, .invisible
    visibility: hidden
    opacity: 0
.transparent
    opacity: 0
.not-transparent, .intransparent
    opacity: 1


// Progressive Web Apps
.pwa
    display: none
    +pwa
        display: block
.not-pwa
    +pwa
        display: none
