=classes__myg
    // Progressive Web Apps
    .myg__pwa
        display: none
        +myg__pwa
            display: block
    .myg__pwa--hidden
        +myg__pwa
            display: none


    // Cursor
    @each $name, $value in $myg__cursor
        .myg__cursor--#{$name}
            +myg__cursor($value)


    // Scrolling
    .myg__scroll
        +myg__scroll
    .myg__scroll--x
        +myg__scroll--x
    .myg__scroll--y
        +myg__scroll--y
    .myg__scroll--hidden
        +myg__scroll--hidden
    .myg__scroll--hidden-x
        +myg__scroll--hidden-x
    .myg__scroll--hidden-y
        +myg__scroll--hidden-y


    // Selecting
    .myg__select
        +myg__select
    .myg__select--auto
        +myg__select--auto
    .myg__select--off
        +myg__select--off


    // Transform
    .myg__flip--x
        +myg__flip--x
    .myg__flip--y
        +myg__flip--y


    // Visibility
    .myg--display
        +myg--display
    .myg--hidden
        +myg--hidden
    .myg--show
        +myg--show
    .myg--hide
        +myg--hide
    .myg--visible
        +myg--visible
    .myg--invisible
        +myg--invisible
    .myg--intransparent
        +myg--intransparent
    .myg--transparent
        +myg--transparent
