// main: ./../../src/myg.sass

=base-classes
    // Cursor
    @each $name, $value in $cursors
        .cursor--#{$name}
            +cursor($value)


    // Scrolling
    .scrollable
        +scrollable
    .scrollable--m
        +scrollable--m
    .scrollable--c
        +scrollable--c
    .not-scrollable
        +not-scrollable
    .not-scrollable--m
        +not-scrollable--m
    .not-scrollable--c
        +not-scrollable--c


    // Selecting
    .selectable
        +selectable
    .selectable--auto
        +selectable--auto
    .not-selectable
        +not-selectable


    // Transform
    .flip--m
        +flip--m
    .flip--c
        +flip--c


    // Visibility
    .display
        +display
    .hidden
        +hidden
    .show
        +show
    .hide
        +hide
    .visible
        +visible
    .invisible
        +invisible
    .intransparent
        +intransparent
    .transparent
        +transparent


    // Progressive Web Apps
    .pwa
        display: none
        +pwa
            display: block
    .not-pwa
        +pwa
            display: none
