// Layout
$myg--layout: (
    font-size: 16,
    toolbar-height: px(50),
    sidebar-width: minmax(33%, px(400))
) !default;


// Cursor
$myg--cursors: (
    default: default,
    text: text,
    pointer: pointer,
    help: help,
    move: move,
    grab: grab,
    progress: progress,
    wait: wait
) !default;
