=modalist--transition
    +myg-animate__transition(all, .25s)
    animation-duration: .25s !important
    animation-timing-function: ease-out



#modalist--overlay
    background: myg-theme__color(overlay, light)
    +modalist--transition
    .modalist--loader
        +modalist--transition
        svg
            background: myg-theme__color(background, base)
            +myg-theme__border-radius(sm)
            +myg-elevation(3)


.modalist
    border: myg__px(1) solid myg-theme__color(border)
    background: myg-theme__color(background, base)
    border-radius: myg__px(3) !important
    +myg-elevation(6)
    +modalist--transition
    &.modalist--full-screen
        box-shadow: none
        border: none
        border-radius: 0
    & > .modalist--content
        &, & > *
            +modalist--transition
        & > .modalist--content-header
            background: myg-theme__color(background, lighter)
            padding: myg-spacing(3)
            border-bottom: myg__px(1) solid myg-theme__color(border)
            h4, p
                margin: 0
            h4
                line-height: 1.58
                +myg-font(sans-serif)
                font-weight: 600
                font-size: myg__px(17)
                color: myg-theme__color(text, darker)
            p
                +myg-font(sans-serif)
                color: myg-theme__color(text, dark)
                font-weight: normal
                letter-spacing: normal
                font-size: myg__px(14)
                line-height: 1.75
            .modalist--closer
                opacity: .85
                +modalist--transition
                &:hover, &:focus
                    opacity: 1
        & > .modalist--content-body
            background: myg-theme__color(background, base)
            padding: myg-spacing(3)
