@mixin myg-switch {
  &.mdc-switch {
    .mdc-switch__native-control:enabled ~ .mdc-switch__background {
      &::before {
        background: myg-theme__color(text, lighter);
      }

      .mdc-switch__knob {
        @include myg-elevation(2);
      }
    }

    .mdc-switch__native-control:enabled:not(:checked) ~ .mdc-switch__background {
      .mdc-switch__knob {
        &,
        &::before {
          background: myg-theme__color(text, light);
        }
      }
    }

    .mdc-switch__native-control:enabled:checked ~ .mdc-switch__background {
      .mdc-switch__knob {
        &,
        &::before {
          background: myg-theme__color(text, base);
        }
      }
    }
  }
}
