=myg-footer
    position: fixed
    z-index: 1
    bottom: 0
    left: 0
    right: 0
    width: 100%
    min-height: map-get($myg-footer, min-height)
    padding: myg-spacing(6)
    border-top: myg__px(1) solid myg-theme__color(border)
    +myg-animate__transition(bottom, .2s)
    +myg-grid__bigger-than(tablet)
        padding: myg-spacing(10)
