$padding: (
    tn: px(15),
    sm: px(20),
    md: px(30),
    lg: px(50)
);

:root {
    @each $name, $padding-size in $padding {
        +v(padding-#{$name}, $padding-size)
    }
}

@function padding($padding-name) {
    @return v(padding-#{$padding-name})
}
