// Text Size
=font-size($element, $size)
    font-size: map-get(map-get($myg-text--size, $element), $size)
=text-size($element)
    @each $name, $value in map-get($myg-text--size-mobile, $element)
        @if $name == base
            font-size: $value
        @else
            &.#{$name}
                font-size: $value
    +bigger-than(tablet)
        @each $name, $value in map-get($myg-text--size, $element)
            @if $name == base
                font-size: $value
            @else
                &.#{$name}
                    font-size: $value


// Text Family
=text-family($element)
    +font(map-get($myg-text--family, $element))


// Text Color
=text-color($element)
    color: map-get($myg-text--color, $element)


// Text Weight
=text-weight($element)
    font-weight: map-get($myg-text--weight, $element)


// Text
=text
    +text-family(p)
    +text-size(p)
    +text-color(p)
    +text-weight(p)
    line-height: 1.75
=hyperlink
    color: color(accent, base)
    text-decoration: none
    &:hover
        text-decoration: underline
    &.hyperlink--inherit
        text-decoration: underline
        color: inherit
=code
    +font(monospace)
    color: color(text, light)
    padding: px(2) px(4)
    background: color(background, lighter)
    border-radius: px(3)
    margin: 0 px(5)
=pre
    +font(monospace)
    color: color(text, light)
    padding: px(8) px(13)
    background: color(background, lighter)
    border-radius: px(3)
    overflow-x: auto
=hr
    height: px(1)
    background: color(border)
    color: color(border)
    border: none
    margin: myg-spacing(md) 0


// Header
=header
    margin: .67em 0
    line-height: 1.58
=h1
    +header
    +text-family(h1)
    +text-size(h1)
    +text-color(h1)
    +text-weight(h1)
=h2
    +header
    +text-family(h2)
    +text-size(h2)
    +text-color(h2)
    +text-weight(h2)
=h3
    +header
    +text-family(h3)
    +text-size(h3)
    +text-color(h3)
    +text-weight(h3)
=h4
    +header
    +text-family(h4)
    +text-size(h4)
    +text-color(h4)
    +text-weight(h4)
=h5
    +header
    +text-family(h5)
    +text-size(h5)
    +text-color(h5)
    +text-weight(h5)
=h6
    +header
    +text-family(h6)
    +text-size(h6)
    +text-color(h6)
    +text-weight(h6)
