=myg-tooltip
    background: myg-theme__color(overlay, dark)
    color: myg-theme__color(text, lighter)
    font-size: myg__px(14)
    +myg-theme__border-radius(1)
    padding: myg__px(4) myg__px(8) myg__px(5)
    +myg--hide
    +myg--invisible
    +myg-animate__transition(opacity)
=myg-tooltip---shown
    +myg--visible
