=myg__classes--layout
  .myg-layout__html
    +myg-layout__html

  .myg-layout
    +myg-layout
    .myg-toolbar
      grid-area: toolbar
    .myg-sidebar
      grid-area: sidebar
    .myg-footer--sticky
      grid-area: footer
    .myg-content
      grid-area: content
  .myg-layout--toolbar
    +myg-layout--toolbar
    &.-bottom
      +myg-layout--toolbar---bottom
  .myg-layout--sidebar
    +myg-layout--sidebar
    &.-right
      +myg-layout--sidebar---right
  .myg-layout--sidebar-toolbar
    +myg-layout--sidebar-toolbar
    &.-right
      +myg-layout--sidebar-toolbar---right
    &.-primary
      +myg-layout--sidebar-toolbar---primary
    &.-right.-primary
      +myg-layout--sidebar-toolbar---primary-right
  .myg-layout--footer
    +myg-layout--footer

  @each $name, $value in $myg-grid__breakpoints
    .myg-layout__wrap--#{$name}
      +myg-layout__wrap($name)
