// Myg
=myg
    font-size: px(map-get($myg-base, font-size))
    +font(sans-serif)
    font-weight: 400
    font-style: normal
    color: color(text, base)
    line-height: 1.5
    -webkit-font-smoothing: antialiased
    text-rendering: optimizeLegibility
    -moz-osx-font-smoothing: grayscale
    -ms-text-size-adjust: 100%
    -webkit-text-size-adjust: 100%
    word-wrap: break-word
    font-smooth: always
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
    background: color(background, base)
    overflow-x: hidden
    overflow-y: auto
    & > body
        min-height: 100vh
        width: 100%
    *
        box-sizing: border-box
        text-decoration: none
        outline: none


// Myg Layout
=myg-layout
    width: 100%
    min-height: 100vh
    +grid-template(1fr, 100%)
    &.myg-layout--toolbar
        +grid-rows(map-get($myg-layout, toolbar-height) 1fr)
        +grid-areas("toolbar" "content")
    &.myg-layout--sidebar
        +grid-columns(map-get($myg-layout, sidebar-width) 1fr)
        +grid-areas("sidebar content")
        &.myg-layout--sidebar-right
            +grid-columns(1fr map-get($myg-layout, sidebar-width))
            +grid-areas("content sidebar")
        &.myg-layout--toolbar
            +grid-areas("toolbar toolbar" "sidebar content")
            &.myg--layout--sidebar-right
                +grid-areas("toolbar toolbar" "content sidebar")
        &.myg-layout--sidebar-primary
            +grid-areas("sidebar toolbar" "sidebar content")
            &.myg--layout--sidebar-right
                +grid-areas("toolbar sidebar" "content sidebar")

    .myg-toolbar
        grid-area: toolbar
    .myg-sidebar
        grid-area: sidebar
    .myg-content
        grid-area: content


// Myg Wrap
=myg-wrap($name)
    max-width: map-get($myg-grid--breakpoints, $name)
    margin: 0 auto
