=myg-hint
    padding: myg-spacing(tn) myg-spacing(sm)
    margin-top: px(15)
    border: px(1) solid color(border)
    +border-radius(sm)
    background: color(background, lighter)
    color: color(text, base)
    font-size: px(14)
    &.error
        border-color: color(error)
        color: color(error)
    &.success
        border-color: color(success)
        color: color(success)
=myg-hint--tiny
    +myg-hint
    border: none
    padding: 0
    margin-top: px(5)
    color: color(text, light)
    background: transparent
    border-radius: 0
    font-size: px(12)
