=myg-hint
    padding: myg-spacing(tn) myg-spacing(sm)
    margin-top: myg__px(15)
    border: myg__px(1) solid myg-theme__color(border)
    +myg-theme__border-radius(sm)
    background: myg-theme__color(background, lighter)
    color: myg-theme__color(text, base)
    font-size: myg__px(14)
    &.error
        border-color: myg-theme__color(error)
        color: myg-theme__color(error)
    &.success
        border-color: myg-theme__color(success)
        color: myg-theme__color(success)
=myg-hint---tiny
    border: none
    padding: 0
    margin-top: myg__px(5)
    color: myg-theme__color(text, light)
    background: transparent
    border-radius: 0
    font-size: myg__px(12)
