$google-i-font-path:        "../fonts" !default;
$google-i-font-size-base:   14px !default;
$google-i-css-prefix:       google-i-icon !default;
$google-i-background-color: #eee !default;
$google-i-li-width:         (30em / 14) !default;
$google-i-padding-width:    (1em/3) !default;
