$myg-i-font-path:        "../../../node_modules/myg-icon/fonts/myg/fonts" !default;
$myg-i-font-size-base:   14px !default;
$myg-i-css-prefix:       myg-i-icon !default;
$myg-i-background-color: #eee !default;
$myg-i-li-width:         (30em / 14) !default;
$myg-i-padding-width:    (1em/3) !default;
