@keyframes bell
    10%
        transform: translate3d(px(-1), 0, 0) rotate(-2deg)
    20%
        transform: translate3d(px(1), 0, 0) rotate(4deg)
    30%
        transform: translate3d(px(-2), 0, 0) rotate(-7deg)
    40%
        transform: translate3d(px(2), 0, 0) rotate(10deg)
    50%
        transform: translate3d(px(-2), 0, 0) rotate(-10deg)
    60%
        transform: translate3d(px(2), 0, 0) rotate(10deg)
    70%
        transform: translate3d(px(-2), 0, 0) rotate(-10deg)
    80%
        transform: translate3d(px(1), 0, 0) rotate(7deg)
    90%
        transform: translate3d(px(-1), 0, 0) rotate(-2deg)
