=myg-form-field
  & + [class*="myg-form-field"]
    margin-top: myg__px(20)
  label, .myg-label__container
    & + input, & + textarea, & + .myg-input__container
      margin-top: myg__px(10)
  .myg-label__container
    label.myg-label--secondary
      margin-top: myg__px(5)

=myg-form-field---inline-label
  +myg-grid__flex
  +myg-grid__flex---center-y
  & > label, & > .myg-label__container > label, & > .myg-hint
    font-weight: normal
    margin-left: myg__px(15)

=myg-form-field---floating-label
  .myg-input__container
    position: relative
    input, textarea
      &::placeholder
        opacity: 0 !important
      & + label
        position: absolute
        top: 0
        left: 0
        padding: myg__px(14) myg__px(16) myg__px(13)
        font-size: myg__px(15)
        font-weight: normal
        color: myg-theme__color(text, dark)
        +myg__cursor(text)
        +myg-animate__transition
      &:focus ~ label
        color: myg-theme__color(text, base)
      &:not(:placeholder-shown)
        padding: myg__px(20) myg__px(22) myg__px(5) myg__px(10)
        & + label
          padding: myg__px(6) myg__px(22) myg__px(6) myg__px(10)
          font-size: myg__px(12)
          color: myg-theme__color(text, base)

=myg-form-field--file
  +myg-grid__flex
  +myg-grid__flex---center-y
  justify-content: space-between
  label, .myg-label__container
    & ~ input[type="file"] + label:last-child
      margin-left: myg__px(15)
  input[type="file"]
    display: none
    & + label
      min-width: myg__px(175)
      text-align: center
      color: myg-theme__color(text, base)
      border: myg__px(2) dashed myg-theme__color(border)
      padding: myg__px(12) myg__px(16) myg__px(13)
      +myg-theme__border-radius(1)
      +myg__cursor(pointer)


=myg-form-field__inline-container
  +myg-grid__flex
  +myg-grid__flex---center-y
  & + [class*="myg-form-field"]
    margin-top: myg__px(20)
  [class*="myg-form-field"]
    margin-top: 0
    &:not(:first-child)
      margin-left: myg__px(20)
