@mixin myg-card {
  @include myg-animate__transition(box-shadow, 0.35s);
  @include myg-elevation(2);
  @include myg-theme__border-radius(1);

  background: myg-theme__color(background, base);
  border: myg__px(1) solid myg-theme__color(border);
  padding: myg-spacing(4);
  text-decoration: none !important;
  width: 100%;

  &:hover {
    @include myg-elevation(4);
  }

  & > * {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@mixin myg-card---highlighted {
  background: myg-theme__color(background, dark);
}

@mixin myg-card--seamless {
  background: myg-theme__color(background, lighter);
  border: none;

  &:hover,
  &:focus,
  &:active {
    background: myg-theme__color(background, light);
  }
}
