=myg-card
    padding: myg-spacing(sm)
    +myg-elevation(sm)
    +border-radius(sm)
    background: color(background, base)
    border: px(1) solid color(border)
    width: 100%
    +transition(box-shadow, .35s)
    text-decoration: none !important
    &:hover
        +myg-elevation(md)
    &.myg-card--seamless
        border: none
        background: color(background, lighter)
