$myg-o-i-font-path:        "fonts" !default;
$myg-o-i-font-size-base:   14px !default;
$myg-o-i-css-prefix:       myg-o-i-icon !default;
$myg-o-i-background-color: #eee !default;
$myg-o-i-li-width:         (30em / 14) !default;
$myg-o-i-padding-width:    (1em/3) !default;
