=myg-list
    // ...

=myg-list__item
    padding: myg__px(15)
    border-top: myg__px(1) solid myg-theme__color(border)
    &:last-child
        border-bottom: myg__px(1) solid myg-theme__color(border)
=myg-list__item---title
    background: myg-theme__color(background, darker)

=myg-list--contained
    background: myg-theme__color(background, light)
    width: 100%
    border: myg__px(1) solid myg-theme__color(border)
    +myg-theme__border-radius(1)
=myg-list--contained__item
    padding: myg__px(15) myg__px(20)
    &:not(:last-child)
        border-bottom: myg__px(1) solid myg-theme__color(border)
    a
        text-decoration: none !important
        color: myg-theme__color(text, base)
        +myg-animate__transition(color)
        &:hover, &:focus, &:active
            color: myg-theme__color(text, darker)
