=myg-list
    .myg-list--element, .myg-list--title
        padding: px(15)
        border-top: px(1) solid color(border)
        &:last-child
            border-bottom: px(1) solid color(border)
    .myg-list--title
        background: color(background, darker)
