/* --------------------------------

Myg Outline Icons Web Font - nucleoapp.com/
License - nucleoapp.com/license/

-------------------------------- */
@import "variables.less";
@import "mixins.less";

@font-face {
  font-family: 'Myg Outline Icons';
  src: url('@{myg-o-i-font-path}/Myg Outline Icons.eot');
  src: url('@{myg-o-i-font-path}/Myg Outline Icons.eot') format('embedded-opentype'),
    url('@{myg-o-i-font-path}/Myg Outline Icons.woff2') format('woff2'),
    url('@{myg-o-i-font-path}/Myg Outline Icons.woff') format('woff'),
    url('@{myg-o-i-font-path}/Myg Outline Icons.ttf') format('truetype'),
    url('@{myg-o-i-font-path}/Myg Outline Icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*------------------------
	base class definition
-------------------------*/

.myg-o-i-icon {
  display: inline-block;
  font: normal normal normal @myg-o-i-font-size-base/1 'Myg Outline Icons';
  font-size: inherit;
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*------------------------
  change icon size
-------------------------*/

.myg-o-i-icon.lg {
	font-size: 1.33333333em;
  	vertical-align: -16%;
}

.myg-o-i-icon.x2 {
	font-size: 2em;
}

.myg-o-i-icon.x3 {
	font-size: 3em;
}

/*----------------------------------
  add a square/circle background
-----------------------------------*/
.myg-o-i-icon.square,
.myg-o-i-icon.circle {
  padding: @myg-o-i-padding-width;
  vertical-align: -16%;
  background-color: @myg-o-i-background-color;
}

.myg-o-i-icon.circle {
  border-radius: 50%;
}

/*------------------------
  list icons
-------------------------*/

.@{myg-o-i-css-prefix}-ul {
  padding-left: 0;
  margin-left: @myg-o-i-li-width;
  list-style-type: none;

  > li {
    position: relative;
  }

  > li > .myg-o-i-icon {
    position: absolute;
    left: -@myg-o-i-li-width/2 - 0.5em;
    top: (2em / 14);
    text-align: center;

    &.lg {
      top: 0;
      left: -@myg-o-i-li-width/2 - (4em / 14);
    }

    &.circle,
    &.square {
      top: (2em / 14) - @myg-o-i-padding-width;
      left: -@myg-o-i-li-width/2 - 0.5em - @myg-o-i-padding-width;
    }
  }
}

/*------------------------
  spinning icons
-------------------------*/

.myg-o-i-icon.spin {
  -webkit-animation: myg-o-i-icon-spin 2s infinite linear;
  -moz-animation: myg-o-i-icon-spin 2s infinite linear;
  animation: myg-o-i-icon-spin 2s infinite linear;
}

@-webkit-keyframes myg-o-i-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes myg-o-i-icon-spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes myg-o-i-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*------------------------
  rotated/flipped icons
-------------------------*/

.myg-o-i-icon.rotate-90  {
	.myg-o-i-rotate(90deg, 1);
}

.myg-o-i-icon.rotate-180 {
	.myg-o-i-rotate(180deg, 2);
}

.myg-o-i-icon.rotate-270 {
	.myg-o-i-rotate(270deg, 3);
}

.myg-o-i-icon.flip-y {
	.myg-o-i-flip(-1, 1, 0);
}
.myg-o-i-icon.flip-x {
	.myg-o-i-flip(1, -1, 2);
}

@import "icons";
