=myg-tabs
    &.mdc-tab-bar
        margin: 0
        &.myg-tabs--center
            margin: 0 auto
        & > a.mdc-tab
            text-decoration: none !important
            text-transform: none
            letter-spacing: normal
            padding: px(12) px(22)
            min-width: auto
            font-size: px(15)
            color: color(text, base)
            +transition(color)
            &:hover, &.mdc-tab--active
                color: color(text, darker)
            &::before, &::after
                border-radius: 0
                background: color(text, base)
        & > .mdc-tab-bar__indicator
            background: color(text, darker)

=myg-tabs--panels
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    .myg-tabs--loader
        display: none
        visibility: hidden
        opacity: 0
        padding: px(200) 0
        +transition(opacity, .25s)
        .myg-tabs--shown
            +flex--center
            visibility: visible
            opacity: 1
    .myg-tabs--panel
        width: 100%
        display: none
        visibility: hidden
        opacity: 0
        padding: px(35) 0
        +transition(opacity, .25s)
        .myg-tabs--shown
            display: block
            visibility: visible
            opacity: 1
