=myg-label
    +myg-font(sans-serif)
    display: block
    color: myg-theme__color(text, darker)
    font-weight: 500
    font-size: myg__px(14)
    line-height: 1.58
    
=myg-label--secondary
    font-weight: normal
    color: myg-theme__color(text, base)
