=myg-label
    +font(sans-serif)
    display: block
    color: color(text, darker)
    font-weight: 500
    font-size: px(14)
    line-height: 1.58
=myg-label--secondary
    +myg-label
    font-weight: normal
    color: color(text, base)
